# IDE project files.
.idea

# Ignore back-up files.
*~

# Ignore compiled Python files.
*.py[cod]
.cache

# Auto Generate Doc
docs/api/html


# Local file
test_dev.py

# Migrations file
migrations

## db
test.db
database.db