# IDE project files.
.idea

# Ignore back-up files.
*~

# Ignore compiled Python files.
*.py[cod]
.cache
.coverage

# Auto Generate Doc
docs/api/html
docs/test
docs/coverage


# Local file
test_dev.py

# Migrations file
migrations

## db
test.db
database.db